.resources {
  margin-top: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 25rem 25rem;
  gap: 5rem;

  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.Create-box {
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding: 2rem;
  border-radius: 10px;
}
