.header-body {
  background-color: rgb(66, 66, 66);
  width: 100vw;
}

.header {
  color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0.5rem;
}
.nav {
  display: inline;
  margin-right: 0.5rem;
}

.linkTo {
  text-decoration: none;
  color: rgb(148, 230, 230);
  padding: 0.5rem;
}

.linkTo:hover {
  background-color: rgb(104, 104, 104);
  color: rgb(165, 255, 255);
  transition: 0.2s;
}
