.Auth-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-title {
  text-align: center;
  margin-bottom: 1em;
  color: rgb(34, 34, 34);
  font-weight: 700;
}

.Auth-form {
  width: 25rem;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.Button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Button-submit {
  width: 19rem;
}

.Link-administrator {
  text-decoration: none;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
